.header {
    height: auto;
}
.header-top {
    padding: 5px 45px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: white;
}
.header-top ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-top ul li {
    padding: 0 50px 0 0;
    list-style-type: none;
}
.header-nav {
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

body {
    background-color: #eee;
    margin: 0;
}

h1 {
    font-size: 30px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
    color: #1b8ea3;
}

.about_wrapper {
    width: 80vw;
    margin: 0 auto;
}

.about_wrapper p {
    font-size: 17px;
    text-align: justify;
}

#program {
    font-size: 25px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
    color: #1b8ea3;
}

table, th, td {
    border: 2px solid #1b8ea3;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: center;
}
#table01 {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.form_wrap {
	background: #fff;
	max-width: 480px;
	box-sizing: border-box;
	padding: 10px 20px;
	margin: 8% auto 0;
	border-top: 5px solid #1b8ea3;
    border-radius: 8px
}
.title_form {
    text-align: center;
    margin: 0 0 30px 0;
}

.select_option {
    position: relative;
    width: 107%;
}

input[type="text"],
input[type="date"],
select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 14px;
    height: 50%;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 93%;
    background-color: #e8eeef;
    color: black;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}

.radiobox_option {
    margin: 0 3px 6px 0;
}

.checkbox_option {
  margin: 0 3px 6px 0;
}

select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
}

#signup {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #1b8ea3;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #1b8ea3;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
}